@page
@model MyStore.Pages.loginModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="login-form">
    <form method="post">
        @if (Model.ErrorMessage != null)
        {
            <p style="color:red;">@Model.ErrorMessage</p>
        }
        <div class="form-group">
            <label>User Name <i class="fa fa-user"></i></label>
            <input class="au-input au-input--full" type="text" name="username" placeholder="User Name">
        </div>
        <div class="form-group">
            <label>Password <i class="fa fa-lock"></i> </label>
            <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
        </div>
        <div class="login-checkbox">
            <label>
                <input type="checkbox" name="remember">Remember Me
            </label>
            <label>
                <a href="#">Forgotten Password?</a>
            </label>
        </div>
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
    </form>

</div>